@import url("https://use.typekit.net/rny6chh.css");

html,
body {
	padding: 0;
	margin: 0;
}

html,
body,
button {
	font-family: proxima-nova, work-sans, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

/*@media (prefers-color-scheme: dark) {*/
/*  html {*/
/*    color-scheme: dark;*/
/*  }*/
/*  body {*/
/*    color: white;*/
/*    background: black;*/
/*  }*/
/*}*/
